{{ form_start(form, {'action': path('app_reports_old_pays'), 'attr': {'role': 'form', 'target': '_blank'}}) }}
    <div class="modal-header">
        <button type="button" data-dismiss="modal" class="close">&times;</button>
        <h4 class="modal-title">Generar informe</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                {{ form_label(form.fromDate) }}
                {{ form_widget(form.fromDate, {'attr': {'class': 'form-control datepicker'}}) }}
                <div class="help-block"></div>
            </div>
            <div class="col-lg-6">
                {{ form_label(form.toDate) }}
                {{ form_widget(form.toDate, {'attr': {'class': 'form-control datepicker'}}) }}
                <div class="help-block"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">
            <span class="fa fa-print"></span>
            Generar
        </button>
        <button type="button" data-dismiss="modal" class="btn btn-default">
            Cancelar
        </button>
    </div>
{{ form_end(form) }}
<script>
    $(document).ready(function() {
        $('#{{ form.fromDate.vars.id }}, #{{ form.toDate.vars.id }}').datepicker({dateFormat: 'dd/mm/yy'});
    });
</script>
