<div class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form, {'action': path('app_reports_old_cobros'), 'attr': {'role': 'form', 'target': '_blank'}}) }}
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Generar informe</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        {{ form_row(form.fromDate, {'attr': {'class': 'datepicker'}}) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.toDate, {'attr': {'class': 'datepicker'}}) }}
                    </div>
                </div>
                {{ form_rest(form) }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">
                    <span class="fa fa-print"></span>
                    Generar
                </button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Cerrar</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
