<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.client, {label: "Agencia"}) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.clientSerial, {label: "Referencia del cliente"}) }}
    </div>
</div>
{{ form_row(form.serviceType, {label: "Tipo de servicio"}) }}
<div class="row">
    <div class="col-sm-6 form-group">
        {{ form_label(form.startAt, "Inicio") }}
        {{ form_widget(form.startAt, {attr: {class: "form-control datetimepicker"}}) }}
    </div>
    <div class="col-sm-6 form-group">
        {{ form_label(form.endAt, "Terminación") }}
        {{ form_widget(form.endAt, {attr: {class: "form-control datetimepicker"}}) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.startIn, {label: "Desde"}) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.endIn, {label: "Hasta"}) }}
    </div>
</div>
{{ form_row(form.serviceDescription, {label: "Descripción del servicio"}) }}
{{ form_row(form.pax, {label: "Pax", attr: {class: 'text-right'}}) }}
{{ form_row(form.clientNames, {label: "Nombres de los clientes"}) }}
{{ form_row(form.provider, {label: "Proveedor"}) }}
