{% block select %}
    {% if record.cobradoAt is empty %}
        <input type="checkbox" name="id[]" value="{{ record.id }}"/>
    {% endif %}
{% endblock %}

{% block start %}
    {{ record.startAt|date("d/m/Y H:i") }}
{% endblock %}

{% block service %}
    <span title="{{ record.plainServiceDescription|raw }}">
        {% if record.serviceDescription %}<u>{% endif %}
            {{ record.serviceType.name }}
        {% if record.serviceDescription %}</u>{% endif %}
    </span>
{% endblock %}

{% block amount %}
    <div class="text-right">{{ "%0.2f"|format(amount) }}</div>
{% endblock %}
