{% block vich_image_widget %}
    <div class="fileupload fileupload-{{ download_uri is defined and download_uri ? 'exists' : 'new' }} text-center" data-provides="fileupload">
        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
            <img src="{{ no_image_url|default(asset("images/anonimo.png")) }}" alt="" />
        </div>
        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;">
            <img src="{{ download_uri is defined and download_uri ? download_uri : asset("images/anonimo.png") }}" alt="" />
        </div>
        <div>
            <span class="btn btn-file">
                <span class="fileupload-new">Seleccionar imagen</span>
                <span class="fileupload-exists">Cambiar</span>
                {{ form_widget(form.file, {'class': 'default'}) }}
                {% if form.delete is defined %}
                    <span class="hidden">{{ form_widget(form.delete) }}</span>
                {% endif %}
            </span>
            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Eliminar</a>
        </div>
    </div>
{% endblock %}
