<div class="panel panel-default">
    <div class="panel-heading">
        Datos del guía
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                {{ form_label(form.name, 'Nombre', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <div class="help-block"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ form_label(form.contactInfo, 'Dirección postal', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.contactInfo, {'attr': {'class': 'form-control'}}) }}
                <div class="help-block"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ form_label(form.providers, "Agencias asociadas", {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.providers, {'attr': {'class': 'form-control'}}) }}
                <div class="help-block"></div>
            </div>
        </div>
    </div>
</div>