<form action="{{ path("app_thirdpays_pay", {id: app.request.query.get('id')}) }}" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Servicios a pagar</h4>
    </div>
    <div class="modal-body">
        {% for service in form.services %}
            <div class="row">
                <div class="col-xs-2">
                    <div class="form-control-static input-sm">{{ service.vars.data.startAt|date('d/m/Y H:i') }}</div>
                </div>
                <div class="col-xs-2">
                    <div class="form-control-static input-sm">{{ service.vars.data.client }}</div>
                </div>
                <div class="col-xs-3">
                    <div class="form-control-static input-sm">{{ service.vars.data.serviceType }}</div>
                </div>
                <div class="col-xs-2">
                    {{ form_row(service.paidCharge, {label: false, attr: {placeholder: "Importe", class: "input-sm", style: 'text-align: right;'}}) }}
                </div>
                <div class="col-xs-3">
                    {{ form_row(service.payNotes, {label: false, attr: {placeholder: "Notas de pago", class: "input-sm"}}) }}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Realizar pago</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    </div>
    {{ form_rest(form) }}
</form>
