{% block reserva_form_row %}
    <div class="panel panel-default">
        <div class="panel-heading">Cliente</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    {{ form_label(form.provider, 'Agencia', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.provider, {'attr': {'class': 'form-control'}}) }}
                    <div class="help-block"></div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    {{ form_label(form.providerReference, 'Referencia', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.providerReference, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    {{ form_label(form.clientNames, 'Nombre(s)', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.clientNames, {'attr': {'class': 'form-control'}}) }}
                    <div class="help-block"></div>
                </div>
                <div class="col-lg-2 col-xs-6">
                    {{ form_label(form.pax, null, {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.pax, {'attr': {'class': 'form-control'}}) }}
                    <div class="help-block"></div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    {{ form_label(form.guide, 'Guía', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.guide, {'attr': {'class': 'form-control'}}) }}
                    <div class="help-block"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Fecha y hora</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    {{ form_label(form.startAt, 'Inicio', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.startAt, {'attr': {'class': 'form-control datetimepicker'}}) }}
                    {% if form.startAt.vars.errors|length > 0 %}
                        <div class="text-danger">{{ form_errors(form.startAt)|striptags|raw }}</div>
                    {% endif %}
                    <div class="help-block"></div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    {{ form_label(form.endAt, 'Terminación', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.endAt, {'attr': {'class': 'form-control datetimepicker'}}) }}
                    <div class="help-block"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Servicio</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    {{ form_label(form.serviceType, 'Tipo', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.serviceType, {'attr': {'class': 'form-control'}}) }}
                    <div class="help-block"></div>
                </div>
                <div class="col-lg-12">
                    {{ form_label(form.serviceDescription, 'Descripción', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.serviceDescription, {'attr': {'class': 'form-control'}}) }}
                    <div class="help-block"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Lugares</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    {{ form_label(form.startPlace, 'Inicio', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.startPlace, {'attr': {'data-ajax': path('app_reservas_getplaceslist'), 'required': 'required'}}) }}
                    <div class="help-block"></div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    {{ form_label(form.endPlace, 'Terminación', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.endPlace, {'attr': {'data-ajax': path('app_reservas_getplaceslist'), 'required': 'required'}}) }}
                    <div class="help-block"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Lugares de descanso (solo para servicios de varios días)</div>
        <div class="panel-body">
            <div class="collection-container" id="places-container" data-prototype="{{ form_row(form.passingPlaces.vars.prototype)|e }}">
                {{ form_row(form.passingPlaces) }}
            </div>
            <a href="#" id="linkAddPassingPlace" role="button" class="btn btn-xs btn-block btn-info"><i class="fa fa-plus-circle"></i> Agregar lugar de paso</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Conductor</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-10 col-xs-9">
                    {{ form_label(form.driver, 'Conductor', {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_widget(form.driver, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="col-lg-2 col-xs-3">
                    <div style="height: 30px;"></div>
                    {{ form_widget(form.isDriverConfirmed) }}
                    {{ form_label(form.isDriverConfirmed) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block collection_row %}
    {% for record in form %}
        {{ form_row(record) }}
    {% endfor %}
{% endblock %}

{% block reserva_passing_place_row %}
    <div class="row item">
        <div class="col-lg-3 col-xs-12">
            {{ form_widget(form.stayAt) }}
        </div>
        <div class="col-lg-8 col-xs-9">
            {{ form_widget(form.place, {attr: {class: 'passing-place', 'required': 'required'}}) }}
        </div>
        <div class="col-lg-1 col-xs-3">
            <button class="btn btn-danger btn-block btn-sm btn-delete" type="button">
                <i class="fa fa-minus-circle"></i>
            </button>
        </div>
    </div>
{% endblock %}

{% block _reserva_passingPlaces_entry_stayAt_widget %}
    <div class="form-group">
        <div class="input-group date datepicker" style="padding: 0;">
            {% set attr = form.vars.attr|default({})|merge({class: "form-control input-sm"}) %}
            <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
{% endblock %}
