{% extends "frontend.html.twig" %}

{% form_theme form _self %}

{% block cobro_filter_form_row %}
    <div class="row">
        <div class="col-xs-6 col-sm-2">
            {{ form_row(form.startAt.left_date, {"label": "Desde", "attr": {"class": "datepicker input-sm"}}) }}
        </div>
        <div class="col-xs-6 col-sm-2">
            {{ form_row(form.startAt.right_date, {"label": "Hasta", "attr": {"class": "datepicker input-sm"}}) }}
        </div>
        <div class="col-xs-6 col-sm-2">
            {{ form_row(form.provider, {"label": "Agencia", "attr": {"class": "input-sm"}}) }}
        </div>
        <div class="col-xs-6 col-sm-2">
            {{ form_row(form.cobradoAt, {"label": "Estado", "attr": {"class": "input-sm"}}) }}
        </div>
        <div class="col-xs-6 col-sm-2">
            {{ form_row(form.clientNames, {"label": "Clientes", "attr": {"class": "input-sm"}}) }}
        </div>
        <div class="col-xs-6 col-sm-2">
            {{ form_row(form.serviceTypeName, {"label": "Tipo de servicio", "attr": {"class": "input-sm"}}) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cobros pendientes <small>listado</small></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-lg-12">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Herramientas <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="{{ path("app_cobros_prepare") }}" id="linkCobrar">Cobrar</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="linkSelectAll">Seleccionar todos</a></li>
                        <li><a href="#" id="linkSelectNone">Borrar selección</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-toggle="modal" data-target="#modal-historico">Ver cobros anteriores</a></li>
                    </ul>
                    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#filter" aria-expanded="fase" aria-controls="filter"><i class="fa fa-filter"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default collapse" id="filter">
        <div class="panel-heading">Opciones de filtro</div>
        <div class="panel-body">
            <form action="#" id="frmFilter">
                {{ form_row(form) }}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-cobros" data-ajax-url="{{ path("app_cobros_getdata") }}" width="100%">
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    {% if app.session.flashbag.has('notice') %}
        <div class="modal fade" data-for="flash-notice">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success">
                            <ul>
                                {% for notice in app.session.flashbag.get('notice') %}
                                    <li>{{ notice }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default btn-md" type="button" data-dismiss="modal"><i class="glyphicon glyphicon-ok"></i> Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="modal fade" data-for="cobrar-op" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Realizar cobros</h4>
                </div>
                <div class="modal-body">Cargando información de servicios seleccionados...</div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-sm" type="button">
                        <i class="glyphicon glyphicon-ok"></i>
                        Continuar
                    </button>
                    <button class="btn btn-default btn-sm btn-print" type="button" data-url="{{ path("app_reports_charge_report") }}">
                        <i class="fa fa-print"></i>
                        Imprimir modelo de cobro
                    </button>
                    <button class="btn btn-default btn-sm" data-dismiss="modal" type="button">
                        <i class="fa fa-undo"></i>
                        Cancelar operación
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal.fade -->

    <div class="modal fade" data-for="cobrar-error">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Realizar cobros</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning">
                        Debe seleccionar registros para esta operación
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        <i class="glyphicon glyphicon-ok"></i>
                        Continuar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal.fade -->

    <div class="modal fade" data-for="historico" id="modal-historico">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Histórico de cobros realizados</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ path('app_cobros_print') }}" method="post" role="form" target="_blank">
                        <p>
                            <select name="id" class="form-control">
                                {% for act in charges.result %}
                                    <option value="{{ act.id }}">{{ act.createdAt.format('d/m/Y H:i') }} - {{ act.charges.count }} servicios</option>
                                {% endfor %}
                            </select>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">
                        <i class="glyphicon glyphicon-print"></i>
                        Imprimir
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_javascripts %}
    <script>
        $(document).ready(function() {
            App.Cobros.Index.init();
        });
    </script>
{% endblock %}
