<div class="panel panel-default">
    <div class="panel-heading">
        Datos del tipo de servicio
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                {{ form_label(form.name, 'Nombre', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <div class="help-block"></div>
            </div>
            <div class="col-lg-12">
                <div class="input-wrapper input-wrapper-sm">
                    {{ form_widget(form.isMultiple) }}
                    {{ form_label(form.isMultiple, "El servicio es de varios recorridos") }}
                </div>
                <div class="help-block"></div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Importes
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                {{ form_label(form.defaultPrice, 'Cobro predefinido para agencias', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.defaultPrice, {'attr': {'class': 'form-control text-right', 'validdecimal': 'validdecimal'}}) }}
                <div class="help-block">Separador decimal: . (punto)</div>
            </div>
            <div class="col-lg-6 col-xs-12">
                {{ form_label(form.defaultPayAmount, 'Pago para conductores', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_widget(form.defaultPayAmount, {'attr': {'class': 'form-control text-right', 'validdecimal': 'validdecimal'}}) }}
                <div class="help-block"></div>
            </div>
        </div>
    </div>
</div>