<div class="row">
    <div class="col-sm-6 form-group">
        {{ form_label(form.client, "Agencia") }}
        {{ form_widget(form.client, {attr: {class: "form-control"}}) }}
    </div>
    <div class="col-sm-6 form-group">
        {{ form_label(form.clientSerial, "Referencia del cliente") }}
        {{ form_widget(form.clientSerial, {attr: {class: "form-control"}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.serviceType, "Tipo de servicio") }}
    {{ form_widget(form.serviceType, {attr: {class: "form-control"}}) }}
</div>
<div class="row">
    <div class="col-sm-6 form-group">
        {{ form_label(form.startAt, "Inicio") }}
        {{ form_widget(form.startAt, {attr: {class: "form-control datetimepicker"}}) }}
    </div>
    <div class="col-sm-6 form-group">
        {{ form_label(form.endAt, "Terminación") }}
        {{ form_widget(form.endAt, {attr: {class: "form-control datetimepicker"}}) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-6 form-group">
        {{ form_label(form.startIn, "Desde") }}
        {{ form_widget(form.startIn, {attr: {class: "form-control"}}) }}
    </div>
    <div class="col-sm-6 form-group">
        {{ form_label(form.endIn, "Hasta") }}
        {{ form_widget(form.endIn, {attr: {class: "form-control"}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(form.serviceDescription, "Descripción del servicio") }}
    {{ form_widget(form.serviceDescription, {attr: {class: "form-control"}}) }}
</div>
{{ form_row(form.pax, {label: "Pax", attr: {class: "text-right"}}) }}
{{ form_row(form.clientNames, {label: "Nombres de los clientes"}) }}
<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.provider, {label: "Proveedor"}) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.providerSerial, {label: "Número de confirmación del proveedor"}) }}
    </div>
</div>
