{{ form_start(form, {'action': path('app_invoices_create', {'id': form.vars.data.id}), 'attr': {'role': 'form'}}) }}
    <div class="row">
        <div class="col-xs-12">
            {{ form_label(form.invoiceDriver, null, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_widget(form.invoiceDriver, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th width="60%">Descripción del servicio</th>
                        <th>UM</th>
                        <th>Cantidad</th>
                        <th>Precio CUC</th>
                        <th>Importe CUC</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ form.vars.data.serviceType.name }}</td>
                        <td class="text-center">KM</td>
                        <td>{{ form_widget(form.invoicedKilometers, {'attr': {'class': 'text-right calculation-dispatcher'}}) }}</td>
                        <td>{{ form_widget(form.invoicedKilometerPrice, {'attr': {'class': 'text-right calculation-dispatcher'}}) }}</td>
                        <td>{{ form_widget(form.invoicedKilometersPrice, {'attr': {'class': 'text-right calculation-dispatcher'}}) }}</td>
                    </tr>
                    <tr>
                        <td>Horas de espera</td>
                        <td class="text-center">H</td>
                        <td>{{ form_widget(form.invoicedHours, {'attr': {'class': 'text-right calculation-dispatcher'}}) }}</td>
                        <td>{{ form_widget(form.invoicedHourPrice, {'attr': {'class': 'text-right calculation-dispatcher'}}) }}</td>
                        <td>{{ form_widget(form.invoicedHoursPrice, {'attr': {'class': 'text-right calculation-dispatcher'}}) }}</td>
                    </tr>
                    <tr>
                        <td colspan="4"><strong>Totales</strong></td>
                        <td class="text-right">{{ form_widget(form.invoicedTotalPrice, {'attr': {'class': 'text-right'}}) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="actions"><button type="submit" class="btn btn-success">Facturar servicio</button></div>
        </div>
    </div>
{{ form_end(form) }}