<div class="row">
        <div class="col-xs-12">
            <label class="control-label">Acreedor</label>
            {{ record.invoiceDriver }}
        </div>
    </div>
<div class="row">
    <div class="col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th width="60%">Descripción del servicio</th>
                    <th>UM</th>
                    <th>Cantidad</th>
                    <th>Precio CUC</th>
                    <th>Importe CUC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ record.serviceType.name }}</td>
                    <td class="text-center">KM</td>
                    <td class="text-right">{{ '%0.1f'|format(record.invoicedKilometers) }}</td>
                    <td class="text-right">{{ '%0.2f'|format(record.invoicedKilometerPrice) }}</td>
                    <td class="text-right">{{ '%0.2f'|format(record.invoicedKilometersPrice) }}</td>
                </tr>
                <tr>
                    <td>Horas de espera</td>
                    <td class="text-center">H</td>
                    <td class="text-right">{{ '%0.1f'|format(record.invoicedHours) }}</td>
                    <td class="text-right">{{ '%0.2f'|format(record.invoicedHourPrice) }}</td>
                    <td class="text-right">{{ '%0.2f'|format(record.invoicedHoursPrice) }}</td>
                </tr>
                <tr>
                    <td colspan="4"><strong>Totales</strong></td>
                    <td class="text-right">{{ '%0.2f'|format(record.invoicedTotalPrice) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="actions">
            <a href="{{ path("app_reports_printinvoice", {'invoiceNumber': record.invoiceNumber}) }}" class="btn btn-default" target="_blank"><i class="glyphicon glyphicon-print"></i> Imprimir factura</a>
        </div>
    </div>
</div>
