{% extends "frontend.html.twig" %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Pagos pendientes <small>listado</small></h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-lg-12">
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Herramientas <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="{{ path("app_pays_prepare") }}" id="linkPay">Pagar</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="linkSelectAll">Seleccionar todos</a></li>
                        <li><a href="#" id="linkSelectNone">Borrar selecci贸n</a></li>
                        <li class="divider"></li>
                        <li><a href="#" data-toggle="modal" data-target="#modal-historico">Ver pagos anteriores</a></li>
                    </ul>
                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#filter" aria-expanded="false" aria-controls="filter"><i class="fa fa-filter"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default collapse" id="filter">
        <div class="panel-heading">Opciones de filtro</div>
        <div class="panel-body">
            <form action="" class="form-inline" id="frmFilter">
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                        {{ form_label(form.startAt.left_date, "Desde") }}
                        {{ form_widget(form.startAt.left_date, {attr: {class: "datepicker form-control input-sm"}}) }}
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        {{ form_label(form.startAt.right_date, "Hasta") }}
                        {{ form_widget(form.startAt.right_date, {attr: {class: "datepicker form-control input-sm"}}) }}
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        {{ form_label(form.driver, "Conductor") }}
                        {{ form_widget(form.driver, {attr: {class: "form-control input-sm"}}) }}
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        {{ form_label(form.paidAt, "Estado") }}
                        {{ form_widget(form.paidAt, {attr: {class: "form-control input-sm"}}) }}
                    </div>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-pays" data-ajax-url="{{ path("app_pays_getdata") }}">
                    <thead>
                        <tr>
                            <th width="10" class="no-sort">&nbsp;</th>
                            <th>Fecha</th>
                            <th>Conductor</th>
                            <th>Agencia</th>
                            <th>Referencia</th>
                            <th>Tipo de servicio</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="6">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="modal fade" data-for="pay-op" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Realizar pagos</h4>
                </div>
                <div class="modal-body">Cargando informaci贸n de servicios seleccionados...</div>
                <div class="modal-footer">
                    <div class="btn-group" role="group">
                        <button class="btn btn-success btn-sm" type="button">
                            <i class="glyphicon glyphicon-ok"></i>
                            Continuar
                        </button>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-print"></i>
                                Generar modelo de pago
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path("app_reports_print_pay_form", {logos: 'yes'}) }}" class="link-print">Con logotipos de agencia</a></li>
                                <li><a href="{{ path("app_reports_print_pay_form", {logos: 'no'}) }}" class="link-print">Sin logotipos de agencia</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-default btn-sm" data-dismiss="modal" type="button">
                            <i class="fa fa-undo"></i>
                            Cancelar operaci贸n
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal.fade -->

    <div class="modal fade" data-for="historico" id="modal-historico">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Hist贸rico de pagos realizados</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ path('app_pays_print') }}" method="post" role="form" target="_blank">
                        <p>
                            <select name="id" class="form-control">
                                {% for act in charges %}
                                    <option value="{{ act.id }}">{{ act.createdAt|date('d/m/Y H:i') }} - {{ act.charges.count }} servicios</option>
                                {% endfor %}
                            </select>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">
                        <i class="glyphicon glyphicon-print"></i>
                        Imprimir
                    </button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal.fade -->
{% endblock %}

{% block page_javascripts %}
    <script>
        $(document).ready(function() {
            App.Pagos.Index.init();
        });
    </script>
{% endblock %}
